<div class="container-xl" [formGroup]="equipmentForm">
    <h2>Fiche equipements [ {{equipment!.Reference}} ]</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Référence</mat-label>
                        <input matInput type="text" placeholder="" formControlName="reference">
                        <mat-error *ngIf="hasError('reference', 'required')">
                            La référence est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Libelle</mat-label>
                        <input matInput type="text" placeholder="" formControlName="name">
                        <mat-error *ngIf="hasError('name', 'required')">
                            Le libelle est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Description</mat-label>
                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="" formControlName="description"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">        
                <div class="col-md-12">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Présentation</mat-label>
                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="" formControlName="presentation"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Caractéristiques</mat-label>
                        <input matInput type="text" placeholder="" formControlName="caracteristiques">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Prix de location (J)</mat-label>
                        <input matInput type="number" placeholder="" formControlName="dailyPriceHT">
                        <mat-error *ngIf="hasError('dailyPriceHT', 'required')">
                            Le prix est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Prix d'achat (TTC)</mat-label>
                        <input matInput type="number" placeholder="" formControlName="purchasePriceTTC">
                        <mat-error *ngIf="hasError('purchasePriceTTC', 'required')">
                            Le prix est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Valeur neuf (TTC)</mat-label>
                        <input matInput type="number" placeholder="" formControlName="newPurchasePriceTTC">
                        <mat-error *ngIf="hasError('newPurchasePriceTTC', 'required')">
                            Le prix est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Quantité</mat-label>
                        <input matInput type="number" placeholder="" formControlName="totalStock">
                        <mat-error *ngIf="hasError('totalStock', 'required')">
                            La quantité est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Catégorie</mat-label>
                        <mat-select formControlName="category" required>
                            <mat-option value="">-- Sélectionner --</mat-option>
                            @for (cat of categoryList; track cat) {
                                <mat-option [value]="cat">{{ cat }}</mat-option>
                            }
                        </mat-select>
                        
                        @if (hasError('category', 'required')) {
                            <mat-error>La catégorie est obligatoire</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="width: 100%;    margin: 15px 0 0 0;">
                        <mat-label>Upload Images</mat-label>
                        <button mat-icon-button matPrefix (click)="f_input.click()">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                        <input type="text" readonly matInput />
                        <input type="file" multiple hidden #f_input accept="image/*"  formControlName="images" (change)="handleFileInputChange($event)" />
                        <mat-error *ngIf="hasError('images', 'required')">
                            Le champ images est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-md-4 card border-dark mb-3" style="background-color: white;">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-inner" >
                    <div class="carousel-item" *ngFor="let img of equipment!.images; let i = index" [ngClass]="{'active': i === 0}">
                        <div class="image">
                            <img [src]="img" alt="...">
                        </div>
                    </div>
                </div>
                
                <div class="carousel-indicators">
                    <button 
                        *ngFor="let img of equipment!.images; let i = index"
                        type="button" 
                        data-bs-target="#carouselExampleDark" 
                        [attr.data-bs-slide-to]="i" 
                        [class.active]="i === 0" 
                        [attr.aria-current]="i === 0 ? 'true' : null" 
                        [attr.aria-label]="'Slide ' + (i + 1)">
                    </button>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row" style="justify-content: flex-end;">
        <button type="button" 
            class="btn btn-yellow effect btn-xs" 
            style="margin: 15px 12px 0 0;width: 250px;" 
            (click)="submit()"
            >Valider les modifications</button>
        <button type="button" 
            class="btn btn-dark effect btn-xs" 
            style="margin: 15px 12px 0 0;width: 250px;"
            (click)="reset()">Annuler les modifications</button>
    </div>
</div>
