
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-column-StartDate,
.mat-column-EndDate {
  flex: 0 0 150px;
}

a {
  cursor: pointer;
  font-size: 15px;
    font-weight: 500;
}

a:hover {
  color: #fcdb16 !important;
}