
.product{
    margin-bottom: 20px;
    padding-bottom: 10px;
    /* border-bottom: 2px solid #212529;     */
    /* background-color: #ffffff; */
}

.product .image{
    padding: 0;
    text-align: center;
}
.product .image img{   
    border-radius: 5px !important;
}
.product .body {
    padding: 10px 15px;
}
.product .body p{
    margin: 0;
}

.ligne {
  display: flex;
}

.ligne .title {
  font-weight: 600;
  
}
.ligne .value {
  text-align: right;
}
.ligne .input-group {
  min-height: 48px;
}
.ligne-col{
  flex: 1;
}
.prix{
    color: #212529;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    /* padding-top: 10px; */
    text-align: right;
    width: 100%;
}

.form-check{
    padding: 0;
}

.form-check label{
    padding: 9px 0 0 0;
    font-weight: 600;
}
.example-full-width {
  width: 100%;
  margin: 15px 0 0 0;
}
sup{
  color:#bfe633 ;
  font-size: 20px;
}