.breadcrumbs-ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none outside none;
    padding: 1em 0;
    margin: auto;
    font-size: 15px;
    width: 100%;
    max-width: 1740px;
}

.breadcrumbs-ol li {
    margin-bottom: .7em;
    z-index: 2
}

.breadcrumbs-ol a {
    padding: 5px 20px;
    margin-right: .25em;
    color: #212529;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

.breadcrumbs-ol a::before,.breadcrumbs-ol a::after {
    background-color: #efefef;
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    z-index: -1;
}

.breadcrumbs-ol a::before {
    top: 0;
    transform: skew(30deg);
}

.breadcrumbs-ol a::after {
    bottom: 0;
    transform: skew(-30deg)
}

.breadcrumbs-ol div {
    padding: 0 .35em .1em;
    margin-right: .25em
}

.breadcrumbs-ol a:hover {
    color: #fcdb16
}

.breadcrumbs-ol a:hover::before,.breadcrumbs-ol a:hover::after {
    background-color: var(--color-deep-blue);
    color: #fff
}
.breadcrumb-item::before{
    padding: 0;
}
@media (max-width: 2000px) {
    .breadcrumbs-ol {
        max-width:1386px
    }
}

@media (max-width: 800px) {
    .breadcrumbs-ol {
        padding:.75em .75em .15em;
        /* background-color: #ddd; */
        width: 100%;
        font-size: 14px
    }
}
