<div class="container-xxl">
    <h2>Liste des clients </h2>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="ClientNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ClientNumber">
            N° Client
            </th>
            <td mat-cell *matCellDef="let element">{{element.ClientNumber}}</td>
        </ng-container>
                <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Id">
            ID
            </th>
            <td mat-cell *matCellDef="let element">{{element.Id}}</td>
        </ng-container>        
        <ng-container matColumnDef="RaisonSociale">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by RaisonSociale">
            Raison sociale
            </th>
            <td mat-cell *matCellDef="let element"> {{element.RaisonSociale}} </td>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by LastName">
            Nom Client
            </th>
            <td mat-cell *matCellDef="let element">{{element.LastName}}</td>
        </ng-container>
        <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by FirstName">
            Prénom Client
            </th>
            <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="dateCreation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dateCreation">
            Date création
            </th>
            <td mat-cell *matCellDef="let element"> {{element.dateCreation.toLocaleDateString()}} </td>
        </ng-container> -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Email">
            Email
            </th>
            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef ></th>
            <td mat-cell *matCellDef="let element">
                <a type="button" [routerLink]="['/admin/client/', element.Id]" target="_blank" class="btn btn-dark effect btn-xs">Afficher</a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
