<div class="mt-auto container-fluid bg-dark text-white">
  <div class="row ">
    <div class="col-1"></div>
    <div class="col">
        <p>A votre service en Ile-de-France.</p>
        <p>Notre service commercial vous répond 6/7 jours du lundi au samedi de 10h00 à 19h00 au 07 43 10 40 60</p>
    </div>
    <div class="col">
        <p>Infos utiles</p>
        <p>Contactez-nous</p>
        <p>Qui sommes-nous ?</p>
        <p>Nos Services</p>    
    </div>
    <div class="col">        
        <p>Mon compte</p>
        <p>Mes commandes</p>
        <p>Mes adresses</p>
    </div>
    <div class="col-1"></div>
  </div>
</div>