<div class="container-xxl">
    @if (reservation()) {
    <h2>Reservation du M. {{reservation().Client!.FirstName}} {{reservation().Client!.LastName}}</h2>
    <div class="row" style="padding-bottom: 15px;">
        <div class="col-md-8 ">
            <div class="card border-dark">
                <div>
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-9">
                                <mat-form-field appearance="outline" style="width:100%;">
                                    <input matInput placeholder="Recherche référence / nom / type"
                                        [formControl]="searchProduct" [matAutocomplete]="auto">
                                </mat-form-field>
                                <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                                    <mat-option *ngFor="let option of top5Product" [value]="option.Reference"
                                        (onSelectionChange)="($event.source.selected) && selectProduct(option)">
                                        {{option.Reference}} — {{option.Name}} ({{option.Type}})
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                            <div class="col-md-3" style="align-content: center; text-align: center;">
                                <button type="button" class="btn btn-dark effect btn-m" [disabled]="!selectedItem"
                                    (click)="addSelectedItem()">Ajouter</button>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                    class="mat-elevation-z8">
                    <ng-container matColumnDef="Reference">
                        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by reference">
                            Reference
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"><a>{{element.Reference}}</a></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name">
                            Nom du produit
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.Name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Quantity">
                        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Quantity">
                            Quantité
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <input matInput type="number" class="border-0 text-center" min="1"
                                [(ngModel)]="element.Quantity" (ngModelChange)="updateRow(element)">
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="UnitPrice">
                        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by UnitPrice">
                            Prix unitaire
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <input matInput type="text" class="border-0 text-center" min="0"
                                [(ngModel)]="element.UnitPrice" (ngModelChange)="updateRow(element)">€</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par Type">
                            Type
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Type}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="TotalHT">
                        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par TotalHT">
                            TotalHT
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.TotalHT}}€ </mat-cell>
                    </ng-container><ng-container matColumnDef="Delete">
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"><i class="bi bi-trash" style="cursor: pointer;"
                                (click)="deleteSelectedItem(element)"></i></mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-dark mb-3">
                <div class="card-header">
                    Détails client
                </div>
                <div class="card-body">
                    @if (isCreatingMode) {
                    <div class="ligne">
                        <mat-form-field appearance="outline" style="width:100%; margin-bottom: 10px;">
                            <input matInput placeholder="Recherche Client" [formControl]="searchClient"
                                [matAutocomplete]="auto">
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                            <mat-option *ngFor="let option of lstClients" [value]="option.ClientNumber"
                                (onSelectionChange)="($event.source.selected) && selectClient(option)">
                                {{option.ClientNumber}} — {{option.RaisonSociale}} ({{option.FirstName}}
                                {{option.LastName}})
                            </mat-option>
                        </mat-autocomplete>

                    </div>
                    }
                    <div class="ligne">
                        <div class="ligne-col title">N° Client :</div>
                        <div class="ligne-col value">{{reservation().Client!.ClientNumber}}</div>
                    </div>
                    <div class="ligne">
                        <div class="ligne-col title">Raison Sociale :</div>
                        <div class="ligne-col value">{{reservation().Client!.RaisonSociale}}</div>
                    </div>
                    <div class="ligne">
                        <div class="ligne-col title">Contact :</div>
                        <div class="ligne-col value">{{reservation().Client!.FirstName}}
                            {{reservation().Client!.LastName}}</div>
                    </div>
                    <div class="ligne">
                        <div class="ligne-col title">Téléphone :</div>
                        <div class="ligne-col value">{{reservation().Client!.PhoneNumber}}</div>
                    </div>
                    <div class="ligne">
                        <div class="ligne-col title">Email :</div>
                        <div class="ligne-col value">{{reservation().Client!.Email}}</div>
                    </div>
                </div>
            </div>
            <div class="card border-dark mb-3">
                <div class="card-header">
                    Détails reservation
                </div>
                <div class="card-body">
                    <div class="ligne">
                        <div class="ligne-col title">N° Reservation :</div>
                        <div class="ligne-col value">{{reservation().ReservationNumber}}</div>
                    </div>
                    <div class="ligne">
                        <div class="ligne-col title">Statut Logistique :</div>
                        <div class="ligne-col value">
                            @if (isCreatingMode) {
                            {{LogisticStatus[reservation().LogisticStatus]}}
                            }
                            @else {
                            {{reservation().LogisticStatus}}
                            }
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligne-col title">Statut Financier :</div>
                        <div class="ligne-col value">
                            @if (isCreatingMode) {
                            {{FinancialStatus[reservation().FinancialStatus]}}
                            }
                            @else {
                            {{reservation().FinancialStatus}}
                            }
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligne-col title">Date création</div>
                        <div class="ligne-col value">{{reservation().CreatedAt | date:'yyyy-MM-dd HH:mm'}}</div>
                    </div>
                    <div class="ligne">
                        <div class="ligne-col title">Dernière modification</div>
                        <div class="ligne-col value">{{reservation().UpdatedAt | date:'yyyy-MM-dd HH:mm'}}</div>
                    </div>
                    <div class="ligne">
                        <div class="ligne-col title">Workflow :</div>
                        <div class="ligne-col value">
                             <mat-button-toggle-group [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()" [(ngModel)]="reservation().Workflow" aria-label="Font Style">
                                <mat-button-toggle value="0">B2C</mat-button-toggle>
                                <mat-button-toggle value="1">B2B</mat-button-toggle>
                            </mat-button-toggle-group>
<!-- 
                            @if (isCreatingMode) {
                            {{Workflow[reservation().Workflow]}}
                            }
                            @else {
                            {{reservation().Workflow}}
                            } -->
                        </div>
                    </div>
                    <div class="ligne">
                        <div style="display: flex; gap: 15px; width: 100%; margin-top: 15px; flex-wrap: wrap;">
                            <div style="display: flex; gap: 10px; flex: 1; min-width: 300px;">
                                <mat-form-field style="flex: 2;">
                                    <mat-label>Date début</mat-label>
                                    <input matInput [matDatepicker]="pickerStart" [formControl]="range.controls.start"
                                        placeholder="JJ/MM/AAAA">
                                    <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStart></mat-datepicker>
                                    @if (range.controls.start.hasError('required')) {
                                    <mat-error>La date de début est requise</mat-error>
                                    }
                                </mat-form-field>
                                <mat-form-field style="flex: 1;">
                                    <mat-label>Heure début</mat-label>
                                    <input matInput type="time" #timeInputStart [formControl]="range.controls.startTime"
                                        placeholder="HH:MM">
                                    <i class="bi bi-clock" matIconSuffix
                                        style="cursor: pointer; margin-right: 10px; -webkit-text-stroke: 1px currentColor;"
                                        (click)="timeInputStart.showPicker(); $event.stopPropagation()">
                                    </i>
                                    @if (range.controls.startTime.hasError('required')) {
                                    <mat-error>L'heure est requise</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div style="display: flex; gap: 10px; flex: 1; min-width: 300px;">
                                <mat-form-field style="flex: 2;">
                                    <mat-label>Date fin</mat-label>
                                    <input matInput [matDatepicker]="pickerEnd" [formControl]="range.controls.end"
                                        placeholder="JJ/MM/AAAA">
                                    <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerEnd></mat-datepicker>
                                    @if (range.controls.end.hasError('required')) {
                                    <mat-error>La date de fin est requise</mat-error>
                                    }
                                </mat-form-field>
                                <mat-form-field style="flex: 1;">
                                    <mat-label>Heure fin</mat-label>
                                    <input matInput type="time" #timeInputEnd [formControl]="range.controls.endTime"
                                        placeholder="HH:MM">
                                    <i class="bi bi-clock" matIconSuffix
                                        style="cursor: pointer; margin-right: 10px; -webkit-text-stroke: 1px currentColor;"
                                        (click)="timeInputEnd.showPicker(); $event.stopPropagation()">
                                    </i>
                                    @if (range.controls.endTime.hasError('required')) {
                                    <mat-error>L'heure est requise</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-dark mb-3">
                <div class="card-header ligne" style="padding: 0 0 0 15px; ">
                    <div class="ligne-col" style="padding-top: 10px;">Livraison inclus</div>
                    <div class="ligne-col value">
                        <div class="form-check form-switch form-check-inline">
                                    <input class="form-check-input" style="margin: 10px 0 0 0 !important;" type="checkbox" role="switch"
                                        [checked]="transportInclus" (change)="onLivraisonInclusChecked($event)">
                                </div>
                    </div>

                </div>
                <div class="card-body">
                    @if (!transportInclus)
                    {
                    <div class="ligne">
                        Pas de livraison pour cette reservation
                    </div>
                    }

                    @if (transportInclus)
                    {
                    <div class="ligne">
                        <div class="ligne-col title">Adresse de livraison</div>
                        <!-- <div class="ligne-col value">{{reservation()adresseLivraison}}</div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Adresse</mat-label>
                                <input matInput value="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Adresse 2</mat-label>
                                <input matInput value="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Ville</mat-label>
                                <input matInput placeholder="Ex. San Francisco">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Pays</mat-label>
                                <input matInput placeholder="Ex. California">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Code Postal</mat-label>
                                <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="">
                            </mat-form-field>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="card border-dark mb-3">
                <div class="card-header">
                    Total panier
                </div>
                <div class="card-body">
                    <div class="ligne">
                        <div class="ligne-col title">Sous-total</div>
                        <div class="ligne-col value">{{reservation().TotalHT}}€ (HT)</div>
                    </div>
                    @if (transportInclus)
                    {
                    <div class="ligne">
                        <div class="ligne-col title">Expédition</div>
                        <div class="ligne-col value">0€ (HT)</div>
                    </div>
                    }
                    <div class="ligne">
                        <div class="ligne-col title">Total TTC</div>
                        <div class="ligne-col value">{{reservation().TotalHT * (1 + reservation().TVA)}}€ (dont
                            {{reservation().TotalHT * reservation().TVA}}€ TVA)</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    <button type="button" (click)="onValidateChanges()"
                        class="btn btn-dark effect  btn-xs">Valider</button>
                </div>
                <div class="col-md-6">
                    <button [routerLink]="['/admin/devis/', reservation().Id]" target="_blank" type="button"
                        class="btn btn-dark effect btn-xs">Générer le devis</button>
                </div>
            </div>
        </div>
    </div>
    } @else {
    <div class="loading-container">
        <p>Chargement des données de la réservation...</p>
    </div>
    }

</div>