<div class="container-xxl">
    <div class="row packs">
        <div class="col-md-3 ">
            <div class="pack-post card">
                <div class="pack-post-img" >
                    <a >
                        <img alt="Pack Re" src="/assets/img/PackDo.jpg">
                    </a>
                </div>
                <div class="pack-post-info">
                    <div class="title">
                            <h4 class="post-title m-b0">PACK DO</h4>
                        </div>
                        <div class="text">
                            <p>
                                Pack DO c'est un pack idéal pour une surface de 300m² à 400m² et 
                                plus de 4 musiciens.
Notre pack se compose de :
1 console YAMAHA mg24/14fx
2 enceintes façade YAMAHA DSR 115 (2 * 1300 watts)
2 caisson de basse montarbo (2 * 1300 watts)
2 enceintes retour/façade RCF ART 325 passive (2 * 500 watts)
2 enceintes retour/façade Montarbo W400 (2 * 400 watts)
1 amplificateur The t.amp TSA 4-700 (4 * 500 watts)
Pieds micros
Micros filaire
1 micro sans fil shure BLX24/PG58
tous câblage nécessaire

OPTION COMPRISES:
Livraison gratuite (rayon de 20 km), Installation, la présence d'un technicien de son sur place PENDANT TOUT L'EVENEMENT.

NB :
- Le prix c'est pour une prestation de 4h max.
- Pour toute prestation de plus de 4h le prix sera sur devis.
- Pour toute prestation avec un besoin spécifique le prix sera sur devis.

Conditions:
30% du montant payé lors de la réservation
70% du reste payé avant 24h</p>
                        </div>
                        <div class="readmore">
                            <span>
                                <a [routerLink]="['/pack/1']" data-hover="Read More" class="site-button-link" >Read More <i class="fa fa-angle-right arrow-animation"></i></a>
                            </span>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pack-post card">
                <div class="pack-post-img" >
                    <a >
                        <img alt="Pack Re" src="/assets/img/PackSol.jpg">
                    </a>
                </div>
                <div class="pack-post-info">
                    <div class="title">
                            <h4 class="post-title m-b0">Pack sol</h4>
                        </div>
                        <div class="text">
                            <p>Today we can tell you, thanks to your passion, hard work creativity.</p>
                        </div>
                        <div class="readmore">
                            <span>
                                <a data-hover="Read More" class="site-button-link" [routerLink]="['/pack/2']">Read More <i class="fa fa-angle-right arrow-animation"></i></a>
                            </span>
                        </div>
                </div>
            </div>
        </div>    
        <div class="col-md-3">
            <div class="pack-post card">
                <div class="pack-post-img" >
                    <a >
                        <img alt="Pack Re" src="/assets/img/PackRe.jpg">
                    </a>
                </div>
                <div class="pack-post-info">
                    <div class="title">
                            <h4 class="post-title m-b0">Pack re</h4>
                        </div>
                        <div class="text">
                            <p>Today we can tell you, thanks to your passion, hard work creativity.</p>
                        </div>
                        <div class="readmore">
                            <span>
                                <a data-hover="Read More" class="site-button-link" [routerLink]="['/pack/3']">Read More <i class="fa fa-angle-right arrow-animation"></i></a>
                            </span>
                        </div>
                </div>
            </div>
        </div>        
    </div>
</div>



