<div class="container-xxl">
    <h2>Liste des packs </h2>
    <div class="row" style="padding-bottom: 15px;">
        <div class="col-md-10">
            <mat-form-field style="width: 250px;">
                <input matInput placeholder="Rechercher un pack" #input>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <button type="button" routerLink="/admin/service" class="btn btn-dark effect btn-m">Créer</button>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="Reference">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Reference">
            Référence
            </th>
            <td mat-cell *matCellDef="let element"><a (click)="onRowClicked(element)">{{element.Reference}}</a></td>
        </ng-container>
                <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name">
            Nom
            </th>
            <td mat-cell *matCellDef="let element">{{element.Name}}</td>
        </ng-container>        
        <ng-container matColumnDef="PriceHT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by PriceHT">
            Prix HT
            </th>
            <td mat-cell *matCellDef="let element"> {{element.PriceHT}} </td>
        </ng-container>
        <ng-container matColumnDef="IsDailyPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by IsDailyPrice">
            Prix Journalier
            </th>
            <td mat-cell *matCellDef="let element">{{element.IsDailyPrice}}</td>
        </ng-container>
        <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Type">
            Type
            </th>
            <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
